#include "resource.h"

MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New",       IDM_NEW
		MENUITEM "&Open",    IDM_OPEN
		MENUITEM SEPARATOR
		POPUP "S&ecret"
		BEGIN
			MENUITEM "&Secret coffer",   IDM_SECRET
		END
	END
	POPUP "&Others"
	BEGIN
		MENUITEM "&Help",    IDM_HELP
		MENUITEM "&Exit",       IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "&About",  IDM_ABOUT
	END
END

