#define IDM_NEW    40001
#define IDM_OPEN   40002
#define IDM_SECRET 40003
#define IDM_HELP   40004
#define IDM_CLOSE  40005
#define IDM_ABOUT  40006

MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New",       IDM_NEW
		MENUITEM "&Open",    IDM_OPEN
		MENUITEM SEPARATOR
		POPUP "S&ecret"
		BEGIN
			MENUITEM "&Secret coffer",   IDM_SECRET
		END
	END
	POPUP "&Others"
	BEGIN
		MENUITEM "&Help",    IDM_HELP
		MENUITEM "&Exit",       IDM_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "&About",  IDM_ABOUT
	END
END

